.album-songs-wrapper
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    width: 100%;
    .songs-flex-container 
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        overflow: hidden;

        p 
        {
            font-size: clamp(1rem, 2vw, 1.1rem);
            text-align: center;        
            min-width: 1rem;   
        }
    }
}