.nav 
{
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0rem 1rem;
    gap: 2rem;
    position: relative;

    img 
    {
        display: block;
    }

    .nav-left 
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        overflow: hidden;


        h1 
        {
            font-size: clamp(1rem, 2vw, 1.2rem);
        }
    }

    .nav-center
    {
       flex: 1;
       justify-content: center;
       display: flex;
       align-items: center;
       gap: 1rem;
       height: 3rem;
       position: absolute;
       left: 50%;
       transform: translate(-50%);

       form 
       {
        display: flex;
        align-items: center;
        gap: 1rem;
        background: #161616;
        border: 1px solid #2e2c2c;
        border-radius: 2rem;
        padding: .4rem;
        height: 3rem;
        width: 20rem;

        img 
        {
            height: 1rem;
            width: 1rem;
        }

        input 
        {
            background: none;
            border: none;
            width: 100%;
            font-size: 16px;
            color: #fff;
            &:focus 
            {
                outline: none;
            }
        }
       }
    }
}

@media screen and (max-width: 650px)
{
    .nav
    {
        
        gap: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .nav-left{
            img 
            {
                width: 25px;
                height: 25px;
                display: flex;
                align-self: center;
                vertical-align: middle;
            }
        }

        
        .nav-center
        {
            justify-content: flex-start;
            position: relative;

           .home-icon 
           {
            display: none;
           }
        
            form 
            {
                width: 15rem;

                input 
                {
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

@media screen and (max-width:447px)
{
    .nav
    {
        justify-content: flex-start;
        align-items: center;
        gap: 0rem;
        .nav-center
        {
            form 
            {
                width: 8rem;

                input 
                {
                    text-overflow: ellipsis;
                }
            }
        }
    }
}