.nav 
{
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    justify-content: space-between;
    padding: 0rem 1rem;

    img 
    {
        display: block;
    }

    .nav-left 
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        overflow: hidden;

        h1 
        {
            font-size: clamp(1rem, 2vw, 1.2rem);
        }
    }

    .nav-center
    {
       flex: 1;
       justify-content: center;
       display: flex;
       align-items: center;
       gap: 1rem;
       height: 3rem;
       overflow: hidden;

       form 
       {
        display: flex;
        align-items: center;
        gap: 1rem;
        background: #161616;
        border: 1px solid #2e2c2c;
        border-radius: 2rem;
        padding: .4rem;
        height: 3rem;
        width: 20rem;

        input 
        {
            background: none;
            border: none;
            width: 100%;
            font-size: 16px;
            color: #fff;

            &:focus 
            {
                outline: none;
            }

            &::placeholder
            {
                font-size: .9rem;
            }
        }
       }
    }
}

@media screen and (max-width: 600px)
{
    .nav
    {
        justify-content: flex-start;
        gap: .5rem;
        display: flex;
        align-items: center;

        .nav-left{
            img 
            {
                width: 25px;
                height: 25px;
                display: flex;
                align-self: center;
                vertical-align: middle;
            }
        }

        
        .nav-center
        {
            justify-content: flex-start;
            align-items: center;

            img 
            {
                &:nth-child(1)
                {
                    display: none;
                }
            }
        
            form 
            {
                width: 20rem;
            }
        }

        .nav-left
        {
            align-items: center;
            gap: .4rem;
        }
    }
}